<header>
    <nav class="navbar navbar-expand-lg bg-light px-5 fixed-top border border-bottom-2">
        <div class="container-fluid">
          <a class="navbar-brand fs-2 fw-bold" style="width: 50px;"  href="#"><img style="width: 100%;"src="https://img.icons8.com/nolan/2x/a.png" alt="">londra</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav__link__a nav-link active me-5" aria-current="page" href="#">Características</a>
              <a class="nav__link__a nav-link text-dark me-5" href="#">Soporte</a>
              <a class="nav__link__a nav-link text-dark me-5" href="#">Empresas</a>
              <a class="nav__link__a btn btn-outline-primary">Inscribirse</a>
            </div>
          </div>
        </div>
      </nav>
</header>
