.nav__link__a{
    color: #000 !important;
    margin: 0px 20px;
    padding: 5px 20px !important;
    text-align: center !important;
    border-radius: 15px;
}
.nav__link__a:hover{
    background-color: #6D67E4;
    color: #fff !important;
    margin: 0px 20px;

}