<footer class="footer__bg container-fluid p-0 ">
    <div class="container text-light  py-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="p-3">
                    <div>
                        <a href="#" class="footer__a__logo"><img class="footer__img__logo" src="https://img.icons8.com/nolan/2x/a.png" alt="">londra</a>
                    </div>
                    <div class="mt-3">
                        <p class="" style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, modi laudantium excepturi, praesentium non quam dolor magnam asperiores expedita quaerat placeat veniam possimus. Porro esse ipsam excepturi sunt vero accusamus?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="p-3">
                    <p class="text-center fw-bold fs-5"></p>
                    <div class="d-flex flex-column gap-3">
                        <a class="nav__link__a nav-link active me-5" aria-current="page" href="#">Características</a>
                        <a class="nav__link__a nav-link text-dark me-5" href="#">Soporte</a>
                        <a class="nav__link__a nav-link text-dark me-5" href="#">Empresas</a>
                        <a class="nav__link__a nav-link text-dark me-5 btn btn-info">Inscribirse</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="p-3">
                    <p class="text-center fw-bold fs-5">Redes Sociales</p>
                    <div class="d-flex gap-3 justify-content-center">
                        <p class="fs-2"><a href="#" class="text-light"><i class="fa-brands fa-square-facebook"></i></a></p>
                        <p class="fs-2"><a href="#" class="text-light"><i class="fa-brands fa-square-twitter"></i></a></p>
                        <p class="fs-2"><a href="#" class="text-light"><i class="fa-brands fa-square-youtube"></i></a></p>
                        <p class="fs-2"><a href="#" class="text-light"><i class="fa-brands fa-square-instagram"></i></a></p>
                        <p class="fs-2"><a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a></p>
                    </div>
                    <p class="text-center fw-bold fs-5">Contacto</p>
                    <div>
                        <p class="text-center">correo: alondra@gmail.edu.pe</p>
                        <p class="text-center">telefono: 999 666 999</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark py-2">
        <p class="text-light text-center m-0 p-0">© Copyright 2022 - Todos los derechos reservados</p>
    </div>
</footer>
